body {
    font-weight: lighter;
    display: flex;
    color:aliceblue;
    background-image: url(Images/JetpackTexture.png);
}

.logo {
    font-size: xx-large;
    font-weight: bolder;
    color: rgb(255, 203, 31);
}
header{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: aliceblue;
    padding: 10px 20px;
    align-items:baseline;
}

ul{
    list-style: lower-greek;
    
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 10px 20px;
}
h2{
    font-style: oblique;
}
.head{
    font: italic;
}